<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stego Image Analyzer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>Stego Image Analyzer</h1>

        <div class="card">

            <h3>Image Source</h3>

            <label>
                <input type="radio" name="source" checked>
                Upload Image
            </label>

            <br>

            <label>
                <input type="radio" name="source" disabled>
                Cloudinary (Coming Soon)
            </label>

            <hr>

            {% if error %}
            <div style="color:red; margin-bottom:15px;">
            {{ error }}
            </div>
            {% endif %}


            <form action="/analyze-web" method="POST" enctype="multipart/form-data">

                <label>Select Image</label>

                <br><br>

                <input
                    type="file"
                    name="image"
                    accept="image/*"
                    required
                >

                <br><br>

                <button type="submit">
                    Analyze Image
                </button>

            </form>

            {% if analysis %}

<hr>

<h2>Analysis Result</h2>

<h3>Summary</h3>

<p><strong>Prediction:</strong> {{ analysis.summary.prediction }}</p>

<p><strong>Confidence:</strong> {{ analysis.summary.confidence }}%</p>

<p><strong>Average Entropy:</strong> {{ analysis.summary.average_entropy }}</p>
<p><strong>Average Variance:</strong> {{ analysis.summary.average_variance }}</p>
<p><strong>Max Chi-Square P-Value:</strong> {{ analysis.summary.max_chi_square_p_value }}</p>



{% endif %}


        </div>

    </div>

</body>
</html>